* {
    margin: 0;
    padding: 0;
}

body {
    font: 18px/1.66 "Roboto", sans-serif;

}

.header {
    background-color: #4b73b5;
    padding: 9px 0 13px 0;
}

.section-title {
    font-size: 49px;
    margin: 0 0 17px;
}



.container-3 {
    width: 900px;
    margin: 0 auto 60px auto;
}

.header__container {
    display: flex;
    position: relative;
    height: 55px;

}

.container {
    width: 1100px;
    padding: 0 40px;
    margin: 0 auto;
}

.header__col {
    flex: 1;
    display: flex;
    align-items: center;


}

.header__col--align-right {
    justify-content: flex-end;
}

.contacts__phone {
    text-decoration: none;
    font-size: 21px;
    font-style: normal;
    color: rgb(255, 255, 255);
}

.contacts__forshure {
    font-size: 14px;
    color: #fff;
    text-align: right;
}

.contacts__forshure-button {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border: 0;
    opacity: .7;
    color: inherit;
    font-size: 14px;
    background: none;
    text-decoration: underline;
    transition: opacity .3s;
    cursor: pointer;
    
}

.contacts__forshure-text {
    font-style: normal;
    margin: 0;
}
.contacts__forshure-boldtext {
    color: #4b73b5;
    font-weight: bold;
    
}
.contacts__forshure-button:hover {
    opacity: 1;
}

.contacts__forshure-panel {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    z-index: 1;
    padding: 15px 20px;
    border-radius: 3px;
    color: #221f1f;
    font-size: 14px;  
    text-align: left;
    background: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .2);
}

.contacts__forshure-panel::before {
    content: '';
    position: absolute;
    right: -2px;
    top: -20px;
    border: 12px solid transparent;
    border-bottom: 12px solid #fff;
}

.contacts__forshure-button:hover + .contacts__forshure-panel {
    display: block;
} 


.content {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.main {
    flex-grow: 3;
    width: auto;
    padding-right: 20px;
    padding-bottom: 90px;
}


.navigation {
    flex-grow: 2;
    width: 200px;
    margin: 10px;
    min-width: 160px;
    margin-right: 20px;
    flex-shrink: 0;
}

.main__image {
    margin-top: 13px;
    min-height: 299px;
    box-sizing: border-box;
}

.navigation__list {

    margin-top: 28px;
    margin-left: 15px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    width: 182px;


}

.navigation__item {

    margin-bottom: 20px;
    vertical-align: center;
}

.navigation__link {
    display: inline-block;
    padding: 1px 0 0 35px;
    color: #4b73b5;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.7px;
    text-decoration: none;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: left center;   
}

.navigation__link--main {
    background-image: url(../icon/main_icon.png);
    color: #221f1f;
}

.navigation__link--reviews {
    background-image: url(../icon/feed.png);
}

.navigation__link--crew {
    background-image: url(../icon/team.png);
}



.navigation__link--crew:hover {
    background-image: url(../icon/team_icon.png);
    color: black;
}

.navigation__link--reviews:hover {
    background-image: url(../icon/feed_icon.png);
    color: black;
}

.tariff {
    margin-bottom: 40px;
}

.tariff__description {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
}

.tariff__rate {
    display: flex;
    flex-grow: 0;
    flex-basis: 250px;
    border-radius: 3px;
    text-align: center;
    margin-right: 25px;
}

.tariff__title {
    margin: 0 0 17px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.tariff__footer {
    flex-grow: 1;
    border: 1px solid transparent;
    padding: 37px 25px 20px;
    text-decoration: none;
    color: inherit;
}

.tariff__footer:hover {
    border: 1px solid #e8e9ed;
}

.tariff__footer::before {
    content: '';
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-bottom: 35px;
    border-radius: 35px;
    background-color: #4b73b5;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../icon/flower.png);
}

.tariff__footer-text {
    margin: 0 0 10px;
}

.tariff__list {
    text-align: left;
}

.tariff__price {
    font-size: 54px;
}

.tariff__price>small {
    font-size: 30px;
}

.lastnews {
    font-size: 49px;
    color: rgb(34, 31, 31);
    font-weight: bold;
    margin: 30px 0 0 0;
}

.news {
    margin-bottom: 45px;
}

.news__list {
    margin: 0 0 13px;
    padding-top: 10px;
    list-style-type: none;
}

.news__item {
    display: flex;
    padding: 25px 0;
}

.news__image {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 160px;
    height: 160px;
    margin-right: 20px;
    border-radius: 80px;
    overflow: hidden;
}





.news__data {
    font-size: 14px;
    color: #656464;
    text-align: left;
    font-weight: lighter;
}



.news__headline {
    font-weight: bold;
    font-size: 18px;
    color: #221f1f;
}

.news__text {
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.5;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.pagination__paragraph {
    margin-right: 10px;
    color: #7a7979;

}

.pagination__list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.pagination__list:first-child {
    margin-right: 5px;
}

.pagination__link {
    display: inline-block;
    min-width: 25px;
    min-height: 25px;
    padding: 0 5px;
    color: #221f1f;
    text-decoration: none;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}

.pagination__link--active {
    background-color: #4b73b5;
    color: #fff;
}

.pagination__link--disabled {
    opacity: .3;
}

.pagination__link:not(.pagination__link--active):hover {
    color: #4b73b5;
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background: #4b73b5;

}

.footer__container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;

}

.footer>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright {

    height: 52px;
    color: white;

    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 1.286;
    width: 250px;
    text-align: center;
    margin-top: 14px;


}


.footer__logo {
    text-align: center;
    margin: 20px auto;
}


.social {
    margin: 0 0 0 20px;
}


.social__headline {
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin: 0 0 5px;
}

.social__list {
    display: flex;
    list-style-type: none;

}

.social__item {
    margin-right: 10px;
}

.social__link {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 10px;
    background-color: #d2def3;
    background-position: center;
    background-repeat: no-repeat;

}

.social__link:hover {
    background-color: #fff;
}

.social-vk {
    background-image: url(../icon/vk.png);
}

.social-fb {
    background-image: url(../icon/fb.png);
}

.social-google {
    background-image: url(../icon/google.png);
}

.social-twitter {
    background-image: url(../icon/twitter.png);
}